<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
<div class="paragraph">
<p>The page you&#8217;re looking for does not exist. It may have been moved.</p>
</div>
<div class="paragraph">
<p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
</div>
{{else if (eq page.layout 'swagger')}}
  {{> swagger-ui}}
{{else}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#with page.cattegories}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{page.attributes.tags}}

{{{page.contents}}}

{{/if}}
  {{> prv-nxt}}
<!--{]> pagination}}-->
</article>
<aside class="article-aside hidden" role="navigation">
</aside>


