<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-8 main-content">
      <div class="row wrapper">
         <div class="cards_wrap">
            <div class="spacex">
               <div class="card_category">
                  <h1>Welcome to DLI Docs!</h1>
                  <p class="emb-p">Explore user guides, installation guides, and developer docs for DLI software products.
                  </p>
                  <div class="h_line"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="cards_wrap">
   <div class="card_item">
      <div class="card_inner">
         <div class="card_bottom">
            <div class="card_category">
               <h3>User Guides <i class="fa fa-question-circle" aria-hidden="true"></i></h3>
               <p class="emb-desc">Guides and tutorials for end users.</p>
               <ul>
                  <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/hrworks">HR Works</a></li>
                  <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess">HR Works Plus (ESS)</a></li>
                  <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess-mobile/">ESS for iOS & Android</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <div class="card_item">
      <div class="card_inner">
         <div class="card_bottom">
            <div class="card_category">
               <h3>Developer Docs <i class="fas fa-code" aria-hidden="true"></i></h3>
               <p class="emb-desc">Documentation for DLI developers.</p>
               <ul>
                  <li><a
                        href="{{{or site.url (or siteRootUrl siteRootPath)}}}/dev-guides/set-up-your-workstation.html">Set
                        up Development Environment</a>
                  </li>
                  <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/dev-guides">Developer Guides</a>
                  </li>
                  <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}/coding/">Coding Conventions &
                        styles</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <div class="card_item">
      <div class="card_inner">
         <div class="card_bottom">
            <div class="card_category">
               <h3>External Links <i class="fas fa-external-link-alt" aria-hidden="true"></i></h3>
               <p class="emb-desc">DLI's external resource links (opens in a new tab).</p>
               <ul>
                  <li><a href="https://gitlab.com/adarshdli" target="_blank"><i class="fa-brands fa-github-square"></i>  GitHub DLI</a>
                  </li>
                  <li><a href="https://gitlab.com/adarshdli" target="_blank"><i class="fa-brands fa-gitlab"></i><span></span> GitLab DLI</a>
                  </li>

<li><a href="https://dli-apps.sourcerepo.com/redmine/dli/login?back_url=https%3A%2F%2Fdli-apps.sourcerepo.com%2Fredmine%2Fdli%2F" target="_blank"><i class="fa fa-bug" aria-hidden="true"></i> Redmine DLI</a>
                  </li>
                                    <li><a href="https://dli-docs.gitlab.io/product-enhancement/" target="_blank"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
 Release notes</a>
                  </li>


               </ul>
            </div>
         </div>
      </div>
   </div>
</div>