<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{uiRootPath}}/js/vendor/tabs-block-behaviour.js"></script>
<script async src="{{uiRootPath}}/js/vendor/top-versions.js"></script>
<script async src="{{uiRootPath}}/js/vendor/custom.js"></script>
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script src="{{uiRootPath}}/js/vendor/medium-zoom.min.js"></script>
