<footer class="footer">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <footer class="md-footer footer-distributed">

        <div class="footer-left">

            <h3>DLI IT Systems LLC</span></h3>
            <p> </p>
            <p> </p>
            <p class="footer-company-about">DREAM LAND INNOVATION SYSTEMS LLC </p>

            <p class="footer-company-about">#209, Atrium Center, Bank Street, </p>
            <p class="footer-company-about">Bur Dubai PO Box 27287, Dubai, UAE </p>
            <p> </p>
            <p> </p>
            <p class="footer-links">
                |
                <a href="https://docs-dli.gitlab.io/">Home</a>
                |
                <a href="https://dli-it.com/" target="_blank">Website</a>
                |
                <a href=https://dli-apps.sourcerepo.com/redmine/dli/login?back_url=https%3A%2F%2Fdli-apps.sourcerepo.com%2Fredmine%2Fdli%2F" target="_blank">Redmine</a>
                |
                <a href="https://form.jotform.com/220680510959458" target="_blank">Feedback</a>
                |
            </p>
            <p></p>
            <p>© Copyright 2022 DLI IT Systems LLC. All rights reserved</p>
        </div>


        <div class="footer-center">
{{!--             <p class="footer-about">About Us</p>
            <br><p></p>
            <p class="footer-about" >DLI IT Group is a leading software product company in the Middle East focused on providing organisations with innovative HR, Time and Payroll solutions that address their complex requirements in managing
                Human Resources, Employee Onboarding, Time Attendance, and Payroll. </p> --}}
        </div>

        <div class="footer-right">
            <img width="28%" height="23%" src="{{uiRootPath}}/img/meta-2.png">

            <h3> CONNECT WITH US</h3>
            <div class="footer-icons">

                <a href="https://gitlab.com/adarshdli" target="_blank"><i class="fa fa-gitlab"></i></a>
                <a href="https://github.com/adarshdli" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/company/dli-systems-group---employee-time-attendance-payroll-&-personnel-management-system"
                    target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.facebook.com/Dream-Land-Innovation-DLI-Systems-LLC-Dubai-160325687325925/"
                    target="_blank"><i class="fa fa-facebook"></i></a>

                <a href="https://www.facebook.com/Dream-Land-Innovation-DLI-Systems-LLC-Dubai-160325687325925/"
                    target="_blank"><i class="fa fa-instagram"></i></a>
            </div>

        </div>

    </footer>
    </div>