    <title>{{{detag (or page.title defaultPageTitle)}}} - {{#if (eq page.component.name "hrw") }} HR Works {{else if (eq page.component.name "hrw-dev") }} HRW Dev {{else if (eq page.component.name "ess") }} ESS {{else if (eq page.component.name "ess-dev") }} ESS Dev {{else if (eq page.component.name "ess-mob") }} ESS Mob {{else}} DLI {{/if}} Docs</title>
