    {{!-- Add additional meta tags here --}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site-extra.css">

    {{!-- {{#if env.ALGOLIA_API_KEY}}
      <link rel="stylesheet" href="{{uiRootPath}}/css/vendor/docsearch.min.css">
      <!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css -->
    {{/if}} --}}
     
