<header class="header">
   <nav class="navbar">
      <div class="navbar-brand">
         <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}" style="color: white;">DLI
            Docs</a>
         <a class="navbar-item" href="/">
            {{#if (eq page.component.name "hrworks") }}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[HR Works User Guide]</strong>
            {{else if (eq page.component.name "ess") }}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[ESS User Guide]</strong>
            {{else if (eq page.component.name "dev-guides") }}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[Developer Guides]</strong>
            {{else if (eq page.component.name "ess-mobile") }}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[Mobile Apps User Guide]</strong>
            {{else if (eq page.component.name "coding") }}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[Coding Conventions and styles]</strong>
            {{else}}
            <strong class="nav-brand__name-area__title" style="color:#C0C0C0;">[Docs Home]</strong>
            {{/if}}
         </a>
      </div>

      <button class="navbar-burger" data-target="topbar-nav" aria-label="Mobile Navigation Button">
         <span></span>
         <span></span>
         <span></span>
      </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
         <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable developer">
               <a class="navbar-link" href="/docs/">User Guides</a>
               <div class="navbar-dropdown">
                  <div class="navbar-item project">
                     {{!-- <span class="project-name">User Guides</span> --}}
                     <ul class="project-links">

                        <li><a class="project-link" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/hrworks">HR
                              Works</a></li>
                        <li><a class="project-link" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess">HR Works
                              Plus (ESS)</a></li>
                        <li> <a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess-mobile/">Mobile Apps</a></li>
                     </ul>
                  </div>
               </div>
            </div>


            <div class="navbar-item has-dropdown is-hoverable developer">
               <a class="navbar-link" href="/docs/">Developer Docs</a>
               <div class="navbar-dropdown">
                  <div class="navbar-item project">
                     <span class="project-name">Developer Guides</span>
                     <ul class="project-links">
                        <li><a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/dev-guides/set-up-your-workstation.html">Set
                              up Development Environment</a>
                        </li>
                        <li><a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/dev-guides">HR
                              Works</a>
                        </li>
                        <li><a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/dev-guides">ESS</a></li>
                        <li><a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess-mob-dev">ESS
                              Mobile</a>
                        </li>
                     </ul>
                  </div>
                  <div class="navbar-item project">
                     <ul class="project-links">

                        <li><a class="project-link"
                              href="{{{or site.url (or siteRootUrl siteRootPath)}}}/coding/">Coding Conventions &
                              styles</a></li>
                     </ul>
                  </div>
                  <div class="navbar-item project">
                     <a class="project-name" href="">External resources</a>
                     <ul class="project-links">
                        <li><a class="project-link" href="https://dli-docs.gitlab.io/product-enhancement/"
                              target="_blank">Product enhancements</a></li>
                        <li><a class="project-link" href="https://docs-dli.gitlab.io/authoring-guide/"
                              target="_blank">Authoring guide</a></li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable developer">
               <a class="navbar-link" href="">Git</a>
               <div class="navbar-dropdown">
                  <div class="navbar-item project">
                     <ul class="project-links">

<li><a class="project-link" href="https://gitlab.com/adarshdli"><i class="fa fa-github" aria-hidden="true"></i> GitHub - DLI</a></li>
<li><a class="project-link" href="https://gitlab.com/adarshdli"> GitLab- DLI <i class="fa fa-gitlab" aria-hidden="true"></i></a></li>

                     </ul>
                  </div>
               </div>
            </div>

            {{#if env.SITE_SEARCH_PROVIDER}}
            <div class="navbar-item search hide-for-print">
               <div id="search-field" class="field">
                  <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
               </div>
            </div>
            {{/if}}
         </div>
      </div>
   </nav>
</header>