{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#unless @root.page.attributes.hide-nav-title }}
    {{#with @root.page.componentVersion}}
    <span class="title component-title"><a href="{{{relativize ./url}}}">{{./title}}</a></span>
    {{/with}}
    {{/unless}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}