<div class="search" id="search">
  {{#if env.SITE_SEARCH_PROVIDER}}
  <div class="navbar-item search hide-for-print">
    <div id="search-field" class="field">
      <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
    </div>
  </div>
{{/if}}
</div>