.doc .paragraph .title {
    font-weight: var(--body-font-weight-bold);
  }
  
  .doc .listingblock.dot {
    height: 400px;
    overflow: scroll;
    border: 2px solid var(--note-color);
  }
  
  section.deprecated .title::after {
    bottom: 4px;
    margin-left: 10px;
  }
  
  body.alpha article h1::after,
  body.beta article h1::after,
  .sect1.alpha h2::after,
  .sect1.beta h2::after,
  .sect2.alpha h3::after,
  .sect2.beta h3::after,
  body.deprecated article h1::after,
  body.deprecated article h2::after,
  body.deprecated article h3::after,
  body.deprecated article h4::after,
  div.deprecated h2::after,
  div.deprecated h3::after,
  div.deprecated h4::after,
  body.deprecated article dt::after,
  p.deprecated::before,
  section.deprecated .title::after,
  span.deprecated::after,
  .deprecated > .title::after,
  section.enterprise-edition .title::after,
  body.enterprise-edition article h1::after,
  div.enterprise-edition h2::after,
  div.enterprise-edition h3::after,
  div.enterprise-edition h4::after,
  p.enterprise-edition::before,
  span.enterprise-edition::after,
  body.fabric article h1::after,
  body.fabric article h2::after,
  body.fabric article h3::after,
  body.fabric article h4::after,
  div.fabric h2::after,
  div.fabric h3::after,
  div.fabric h4::after,
  section.fabric .title::after,
  p.fabric::before,
  span.fabric::after {
    text-align: center;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Arial, sans-serif; 
    font-weight: normal;
    font-size: 0.6em;
    position: relative;
    box-sizing: border-box;
    padding: 5px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    bottom: 2px;
    margin-left: 8px;
  }
  
  body.deprecated article h1::after,
  body.deprecated article h2::after,
  body.deprecated article h3::after,
  body.deprecated article h4::after,
  div.deprecated h2::after,
  div.deprecated h3::after,
  div.deprecated h4::after,
  .deprecated dt::after,
  p.deprecated::before,
  section.deprecated .title::after,
  .deprecated > .title::after,
  span.deprecated::after {
    content: "deprecated";
    color: var(--deprecation-color);
    border-color: var(--deprecation-color);
  }
  
  body.enterprise-edition article h1::after,
  div.enterprise-edition h2::after,
  div.enterprise-edition h3::after,
  div.enterprise-edition h4::after,
  p.enterprise-edition::before,
  section.enterprise-edition .title::after,
  span.enterprise-edition::after {
    content: "Enterprise Edition";
    color: var(--enterprise-edition-color);
    border-color: var(--enterprise-edition-color);
  }
  
  body.fabric article h1::after,
  div.fabric h2::after,
  div.fabric h3::after,
  div.fabric h4::after,
  p.fabric::before,
  section.fabric .title::after,
  span.fabric::after {
    content: "Fabric";
    color: var(--fabric-color);
    border-color: var(--fabric-color);
  }
  
  .admonitionblock td.icon .icon-::before {
    content: "\f088";
    color: #f58220;
  }
  
  .doc .admonitionblock.deprecated .icon {
    background-color: var(--deprecation-color);
    color: var(--deprecation-on-color);
  }
  
  .doc .admonitionblock.deprecated .icon i::after {
    content: 'DEPRECATED';
  }
  
  .doc .admonitionblock.deprecated {
    background-color: var(--color-pink-200);
    color: var(--color-pink-900);
    border-left-color: var(--color-pink-600);
  }
  
  .doc .admonitionblock.deprecated pre {
    background-color: var(--color-red-100);
    color: var(--color-red-700);
  }
  
  .doc .admonitionblock.deprecated a {
    color: var(--color-red-600);
  }
  
  .doc pre {
    font-size: calc(14 / var(--rem-base) * 1rem);
  }
  
  .doc .paragraph.statsonlyqueryresult {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: calc(14 / var(--rem-base) * 1rem);
    background-color: var(--color-grey-200);
    margin: 0;
    margin-top: -1.5rem;
    margin-right: 30%;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
  }
  
  /* GDS */
  
  body.alpha article h1::after,
  body.beta article h1::after,
  .sect1.alpha h2::after,
  .sect1.beta h2::after,
  .sect2.alpha h3::after,
  .sect2.beta h3::after {
    color: var(--alpha-beta-color);
  }
  
  body.alpha article h1::after,
  .sect1.alpha h2::after,
  .sect2.alpha h3::after {
    content: "alpha";
  }
  
  body.beta article h1::after,
  .sect1.beta h2::after,
  .sect2.beta h3::after {
    content: "beta";
  }
  
  div.tier-note p {
    padding: 10px;
    /* text-align: justify; */
  }
  
  div.tier-note p::before {
    border-right: thin solid var(--color-grey-400);
    padding: 0 10px;
    margin-right: 10px;
    font-family: fantasy;
    font-size: 2rem;
    color: var(--alpha-beta-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  div.alpha-symbol p::before {
    content: "\03b1";
  }
  
  div.beta-symbol p::before {
    content: "\03b2";
  }
  
  .function-reference::after {
    content: '\2A0D';
    margin-left: 0.5em;
    padding: 0 0.5em;
    background-color: var(--color-purple-200);
    color: var(--color-purple-700);
    display: inline-flex;
    border-radius: 25%;
  }
  
  .graph-variants > .title {
    color: #4a5568 !important;
    font-style: normal !important;
    font-size: calc(20 / var(--rem-base) * 1rem) !important;
  }
  
  .graph-variants > .content {
    display: flex;
    flex-flow: row wrap;
  }
  
  @media screen and (max-width: 1244px) {
    .graph-variants > .content > .paragraph {
      flex: 0 0 30%;
    }
  }
  
  @media screen and (max-width: 582px) {
    .graph-variants > .content > .paragraph {
      flex: 1 1 20%;
    }
  }
  
  @media screen and (min-width: 1245px) {
    .graph-variants > .content > .paragraph {
      flex: 1 1 auto;
    }
  }
  
  .graph-variants > .content > .paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    white-space: nowrap;
    padding: 0.2rem 0.3rem;
    margin: 0.5em 1em 0 0;
    line-height: 1em;
    border-radius: 0.2rem;
  }
  
  .graph-variants > .content > .supported::before {
    content: '\2714';
    margin-right: 0.5em;
    color: #00ba88;
  }
  
  .graph-variants > .content > .supported {
    background-color: #e1faef;
  }
  
  .graph-variants > .content > .not-supported {
    background-color: #ffe6e9;
  }
  
  .graph-variants > .content > .not-supported::before {
    content: '\2716';
    margin-right: 0.5em;
    color: #ed1252;
  }