html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  border-top: 4px solid var(--navbar-top-border);
  border-bottom: 1px solid var(--navbar-bottom-border);
  z-index: var(--z-index-navbar);
  display: flex;
}

.navbar a {
  text-decoration: none;
  font-weight: var(--navbar-font-weight);
}

.navbar a.page-name-white {
  color: #fff;
}

.navbar a.no-left-padding {
  padding-left: 0;
}

/* .navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--navbar-font-color);
  font-size: calc(22 / var(--rem-base) * 1rem);
} */

.navbar-brand svg {
  margin-right: 1rem;
}

.navbar-brand svg:last-child {
  margin-right: 0;
}

@media screen and (max-width: 420px) {
  .navbar-brand .navbar-item {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
  }

  .navbar-brand .navbar-item:last-child {
    padding-right: 0;
  }
}

.navbar-logo {
  height: 34px;
  width: 104px;
}

.navbar-theme {
  margin-left: 12px;
  /* height: 2.5rem; */
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

.navbar .navbar-brand .navbar-end {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }

  .navbar .navbar-brand .navbar-end {
    display: flex;
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  /* height: var(--navbar-height); */
}

.navbar-burger,
.navbar-search {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  padding: 0;
}

.navbar-search {
  margin-left: auto;
}

.navbar-brand .navbar-search svg {
  margin-right: 0;
}

.navbar-burger span {
  background: var(--navbar-font-color);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-item {
  flex: none;
}

.navbar-item.has-dropdown .navbar-link {
  padding: 0 2.5em 0 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .navbar-mobile {
    display: none;
    font-weight: 400;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-item .navbar-link {
    font-weight: bold;
    padding-left: 0;
  }
}

.navbar-dropdown .navbar-item {
  padding-left: 0;
}

.navbar-dropdown a {
  color: var(--navbar-dropdown-link);
}

.navbar-dropdown a:hover {
  color: var(--navbar-dropdown_hover-link);
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown .navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    overflow-y: auto;
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: none;
    z-index: 500;
    background: var(--color-grey-100);
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
    /* flex-grow: 1; */
  }

  .navbar-burger,
  .navbar-search {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.docs .navbar-dropdown {
    width: 320px;
  }

  .navbar-item.labs .navbar-dropdown {
    min-width: 280px;
  }

  .navbar-item.developer .navbar-dropdown {
    width: 310px;
  }

  .navbar-item .navbar-dropdown {
    max-width: 320px;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-item.has-dropdown::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-item.has-dropdown::before {
    position: absolute;
    content: "";
    display: block;
    top: 100%;
    left: 50%;
    margin-top: -0.4rem;
    margin-left: -1.5rem;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
  }

  .developer.navbar-item.has-dropdown:hover::before {
    border-bottom-color: var(--navbar-developer-border);
  }

  .docs.navbar-item.has-dropdown:hover::before {
    border-bottom-color: var(--navbar-docs-border);
  }

  .navbar-item.labs.has-dropdown:hover::before {
    border-bottom-color: var(--navbar-labs-border);
  }

  .navbar-menu {
    flex-grow: 1;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    right: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar, .search .search-container .search-form{
  border-top-color: #325091 !important
}

/* body.developer .navbar, body.developer .search .search-container .search-form {
  border-top-color: #38a169;
} */

.navbar-item.training .navbar-dropdown {
  border-top-color: var(--navbar-training-border);
}

.navbar-item.developer .navbar-dropdown {
  border-top-color: var(--navbar-developer-border);
}

.navbar-item.docs .navbar-dropdown {
  border-top-color: var(--navbar-docs-border);
}

.navbar-item.labs .navbar-dropdown {
  border-top-color: var(--navbar-labs-border);
}

.navbar-item.kb .navbar-dropdown {
  border-top-color: var(--navbar-kb-border);
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    border-top: 4px solid;
    margin-top: 0;
    border-radius: 4px;
    max-width: 480px;
  }
}

.project {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-grey-200);
}

.project .project-name {
  color: var(--body-font-color);
  font-weight: 600;
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.project-description {
  margin: 0.2rem 0;
  font-size: 0.8rem;
  color: var(--color-grey-600);
  white-space: normal;
}

.project-links {
  margin: 0;
  padding: 0;
  white-space: normal;
}

.project-links li {
  list-style-type: none;
  display: inline;
  /* border-right: 1px solid var(--color-grey-400); */
  /* padding: 0 .1rem; */
}

.project-links li::after {
  color: var(--color-grey-400);
  content: "|";
}

.project-links li:last-child::after {
  content: "";
}

.project-links li:first-child {
  padding-left: 0;
}

.project-links li:last-child {
  padding-right: 0;
  border-right: 0 none;
}

.project-link {
  font-size: 0.9375em;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.2rem;
}

#search-open {
  padding-left: 0;
}

#auth {
  padding-left: 16px;
}

#auth .auth-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  font-size: 0.7rem;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-green-600);
}

.getting-started-cta .project:hover {
  background: var(--colors-neutral-20);
}

.getting-started-cta .project-subtitle {
  color: var(--color-grey-600);
  font-size: 13px;
  font-weight: 400;
}

.getting-started-cta .aura-ticker {
  font-size: 0.8rem;
  border: 1px solid var(--colors-primary-50);
  color: var(--colors-primary-default);
  border-radius: 9999px;
  padding: 0 8px;
  margin-left: 4px;
}

.getting-started-cta.navbar-item.has-dropdown::before {
  margin-left: 0;
}

.navbar-item.has-dropdown.getting-started-cta:hover::before {
  border-bottom-color: var(--color-grey-600);
}

.navbar-item.has-dropdown.getting-started-cta::after {
  content: none;
}
