
div.card_category h1 {
  color: #325091 ;
  padding-top: 20px;
  font-weight: 700;
  font-size: 2.2rem;
}

div.card_category h3 {
  font-size: 1.5rem;
  color: #325091;

}

div.card_category h4 {
  font-size: 1rem;
  color: #646979;
}

div.card_category p {
  font-size: .85rem;
}

div.card_category a {
  color: #3b5998;
}

@media screen and (max-width: 768px) {
  .navigation-menu {
    grid-column: span 6;
  }

  .main-content {
    grid-column: span 6;
  }
}

@media screen and (max-width: 480px) {
  .navigation-menu {
    grid-column: span 12;
  }

  .main-content {
    grid-column: span 12;
  }
}



.spacex {
  padding-left: 20px;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}




.card_item
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.cards_wrap .card_item {
  width: 25%;
}

.cards_wrap .card_inner {
  background: #fff;
}

.cards_wrap .card_top {
  width: 100%;
  min-height: 225px;
  padding-bottom: 0;
}

/* .cards_wrap .card_bottom {
	padding: 15px;
  } */

.cards_wrap .card_bottom .card_category {
  text-transform: none;
  text-align: left;
}

.cards_wrap .card_bottom .card_info {
  padding: 15px;
  border: 1px dashed #0071bc;
}

.cards_wrap .card_bottom .card_info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
  text-align: center;
}

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }

  .cards_wrap .card_item {
    width: 100%;
  }
}

.h_line {
  width: 100%;
  height: 3px;
  background-color: #294D6A;
  justify-content: center;
  text-align: center;
}

/*   div.card_item > div.h_line:hover {
	  width: 51%;
	  height: 5px;
	  background-color: #2c3e50;
	  margin-bottom: 10px;
	  transition: transform 0.25s ease-out;
	  margin-bottom: 10px;
  } */

.emb-p {
font-weight: 500;
color: #646979;
font-size: 1.1rem !important;
} 

.emb-desc {
  font-weight: 500;
  color: #646979;
  font-size: 1rem !important;
  } 

div.card_item ul {
  list-style: none;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 600;
}

div.card_item ul li::before {
  content: "\2022";
  color: #294D6A;
  font-weight: 800;
  display: inline-block;
  margin-left: -1em;
}

div.card_item ul li a {
  text-decoration: none;
  margin-left: 10px
}

.box {
  width: 100%;
}

.searchmid {
  margin: 0 auto;
  display: block;
}

.home-background {
  top: 0;
  width: 100%;

  /* border-bottom-right-radius: 30px; */
  /* height: 200px; */
  background-color: rgb(58, 38, 99);
}

.home-background h1 {
  font-size: 1.7em;
  text-align: center;
}



.search-container {
  width: 50%;
  max-width: 1100px;
  margin: 0 auto;
}

/* BBbootsreap */



span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}



.fa-cog {
  color: rgb(243, 67, 67);
}

article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}