@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    local("Gilroy"),
    local("GilroyBold"),
    url(../font/gilroy-extrabold.woff) format("woff");
}


@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src:
    local("GilroyExtrabold"),
    url(../font/gilroy-extrabold.woff) format("woff");
}

