.listingblock:hover .clipboard {
  display: block;
}

.clipboard {
  display: none;
  border: 0;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px;
  color: #999;
  position: absolute;
  top: 0.425rem;
  right: 0.5rem;
  background: url(../img/copy2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

code + .clipboard {
  top: 1.5rem !important;
}

.clipboard:hover .clipboard:focus .clipboard:active {
  outline: 0;
  background-color: #eee9e6;
}
