.medium-zoom-image {
  z-index: 999;
}

/* PageTOC */
#toc ul li {
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#toc li::before {
  font-size: calc(17 / var(--rem-base) * 1rem);
  content: '\00BB'' ';
  color: 1565c0;
}

div#toctitle {
  font-size: 16px;
  font-weight: bold;
  color: #5d5d5d;
}

/* PageTOC End */
.doc p code,
.doc thead code {
  font-size: 90%;
  padding: .125em .25em;
  color: #c7254e;
  border-radius: 4px;
  background-color: #f9f2f4;
}

.dli-logo {
  /* display: block;
  height: 25px;
  width: 124px;
  background-image: url(../img/dli.png);
  background-size: contain;
  background-repeat: no-repeat;
  */
  color: #e1e1e1;
}

/*.doc {
  max-width: unset;
}
*/
[aria-label][data-balloon-pos] {
  position: absolute;
}

.body {
  justify-content: center;
}

.body-container {
  display: flex;
  justify-content: center;
}

.navbar-burger.is-active {
  z-index: 99;
}

.control {
  margin-left: 1em;
}

.footer-links {
  display: contents;
}

.footer-links>li {
  margin-left: .5rem;
}


/* .main {
  margin-left: 1rem;
}
*/
.icofont-ui-edit {
  padding-right: .5em;
}

.home-link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  padding: 0;
  background: url(../img/ico-house.svg) no-repeat 0 45%;
  background-size: 50%;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/ico-house-inverted.svg);
}

.navbar {
  padding: 0 2rem 0 2rem;
}

.nav-menu {
  margin-top: 1.5rem;
}

.nav {
  position: -webkit-sticky;
  padding-left: .7rem;
  /*border: solid 0.5rem white;
 */
}

.navbar .button {
  margin-left: unset;
}

.algolia-autocomplete {
  width: 100%;
  height: 2.5rem;
  align-self: center;
}

.navbar-brand .navbar-item+.navbar-item {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.navbar-brand {
  padding: 0 0 0 0;
  flex: unset;
  /* font-size: 0.7em;
  */
  align-items: center;
  /*margin-left: 1rem;
 */
}

.search-box {
  max-width: 28rem;
  margin-right: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.nav-brand__name-area {
  display: flex;
  margin-top: unset;
  margin-right: 1em;
  margin-left: 13.9px;
  white-space: nowrap;
  align-items: center;
}

.single-page::before {
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-right: -.4rem;
  /* Also needed for space (tweak if needed) */
  margin-left: -.7rem;
  /* Also needed for space (tweak if needed) */
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #616778;
  /* Change the color */
}

.bottom-link {
  display: flex;
  align-items: center;
}

.bottom-links {
  display: flex;
  margin-top: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  border-top: 1px solid #e1e1e1;
  justify-content: space-between;
}

#search-input {
  font-family: inherit;
  font-size: .95rem;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  padding: 0 .25em;
  text-align: center;
  color: #333;
  border: 1px solid #dbdbdb;
  border-radius: .1em;
  /* height: -webkit-fill-available;
  !* Mozilla-based browsers will ignore this. *! */
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item+.navbar-item {
    padding-right: 0;
    padding-left: 0;
  }

  .icon-discord-2x {
    width: 1em;
    height: 1em;
  }

  .icon-discord {
    background-image: url(../img/bug.svg);
  }

  .icon-bug-2x {
    width: 1em;
    height: 1em;
  }

  .icon-bug {
    background-image: url(../img/bug.svg);
  }

  .icon-github-2x {
    width: 1em;
    height: 1em;
  }

  .navbar-menu.is-active {
    position: fixed;
  }

  .body-container {
    display: unset;
    justify-content: unset;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-right {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .doc>h1.page:first-child {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-search {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    justify-content: flex-end;
  }

  .navbar-menu {
    width: 27rem;
  }

  .navbar-end {
    justify-content: flex-start;
  }
}

.icofont-external-link {
  display: inline-block;
  margin-left: 1em;
}

.icofont-flag-alt-2,
.icofont-look,
.icofont-map-pins,
.icofont-penguin-linux,
.icofont-paper,
.icofont-dashboard-web,
.icofont-worker,
.icofont-people,
.icofont-laboratory,
.icofont-foot-print {
  display: inline-block;
  margin-right: 1em;
}

.article {
  flex-direction: column;
  flex: auto;
  flex-grow: 1;
}

.body {
  flex-direction: row;
}

.footer {
  margin-top: auto;
}

table.stepActionTable {
  width: auto;
  border-collapse: collapse;
}

table.stepActionTable td,
th {
  margin: 0 !important;
  border: none !important;
  /* background-color: aquamarine;
  */
}

table.stepActionTable p {
  margin-top: 0;
  margin-bottom: 14px;
  /* line-height: 32px;
  margin-bottom: 30px;
  between paragraphs */
}

div.dataTables_wrapper {
  margin-top: 3em;
  margin-right: 1em;
  margin-bottom: 3em;
}

th {
  color: #fff;
  background-color: #47c;
}

tr:nth-child(event) {
  background-color: #ced9ec;
}

br {
  display: block;
  /* clears default height */
  margin-top: 16px;
  /* makes it have a width */
  content: '';
  /* change this to whatever height you want it */
}

.doc .quoteblock blockquote {
  font-size: 16px;
  margin-top: .35rem;
}


div.dataTables_wrapper {
  margin-bottom: 3em;
}

.doc .icon i::after {
  font-weight: 700;
}

.doc p code,
.doc thead code {
  padding: .125em .25em;
  color: #c7254e;
  border-radius: 4px;
  background-color: #f9f2f4;
}

.admonitionblock.summary {
  font-size: 16px;
  margin: 20px 0;
  padding-top: 15px;
  padding-left: 10px;
  color: #5d5d5d;
  border-left: 5px solid #718096;
  border-radius: .25rem;
  background: var(--admonition-background);
}

.admonitionblock.summary td.content {
  width: 100%;
  padding: .65rem 0rem .65rem;
  color: #5d5d5d;
  background: var(--admonition-background);
}

.admonitionblock.summary:before {
  font-weight: bold;
  content: 'Overview: ';
  color: #5d5d5d;
}

.admonitionblock.summary p {
  font-size: 16px;
}

.admonitionblock.summary td.icon .icon-note:before {
  content: ' ';
  white-space: pre;
}

.doc .admonitionblock.summary .icon {
  background-color: transparent;
}

.admonitionblock.currentSettings {
  font-size: 16px;
  margin: 20px 0;
  padding-top: 15px;
  padding-left: 10px;
  color: #5d5d5d;
  border-left: 5px solid #718096;
  background: var(--admonition-background);
}

.admonitionblock.currentSettings td.content {
  width: 100%;
  padding: .65rem 0rem .65rem;
  color: #5d5d5d;
  background: var(--admonition-background);
}

.admonitionblock.currentSettings:before {
  font-weight: bold;
  content: 'Current Settings: ';
  color: #5d5d5d;
}

.admonitionblock.currentSettings p {
  font-size: 16px;
}

.admonitionblock.currentSettings td.icon .icon-note:before {
  content: ' ';
  white-space: pre;
}

.doc .admonitionblock.currentSettings .icon {
  background-color: transparent;
}

.doc h6 {
  font-size: calc(17/var(--rem-base)*1rem)
}

.doc h5 {
  font-size: calc(25/var(--rem-base)*1rem)
}

.doc h4 {
  font-size: calc(28/var(--rem-base)*1rem)
}

.doc h3 {
  font-size: calc(32/var(--rem-base)*1rem)
}

.doc h2 {
  font-size: calc(36/var(--rem-base)*1rem);
  font-weight: normal;
  color: #5d5d5d;
}


.navbar-link {
  font-weight: 700 !important;
}

.navbar-brand a {
  font-weight: 700 !important;
}

article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}